button {
    background-color: rgb(0, 181, 0);
}

.deleteButton {
    color: red;
}

.editButton {
    color: gray;
}

.deleteButton,
.editButton {
    background-color: transparent;
    border-style: none;
    width: 1vw;
    height: 1vh;
    font-size: 1vw;
}

#registerModal {
    width: 40vw;
    height: 30vw;
    border-style: none;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
}

.aboutUser>input {
    border-radius: 10px;
    width: 30vw;
    height: 15vh;
}

.userData>input {
    border-radius: 10px;
    width: 20vw;
    height: 5vh;
}