:root {
    --register-font: 1.5rem;
}

button {
    background-color: rgb(0, 181, 0);
}

.deleteButton {
    color: red;
    min-width: 10px;
    font-size: var(--normal-font);
}

.editButton {
    color: gray;
    min-width: 10px;
    font-size: var(--big-font);
}

.deleteButton,
.editButton {
    background-color: transparent;
    border-style: none;
    width: 1vw;
    height: 1vh;
    padding: 0px 0px 0px 0px;
    margin: 0px 10px;
}

th,
td {
    padding: 1.2vh;
}

#registerModal {
    width: 60vw;
    height: 80vh;
    border-style: none;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    min-width: 350px;
    min-height: 350px;
}

#modalTop {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

#closeButton {
    grid-column-start: 0;
    grid-column-end: 1;
    margin-right: auto;
    font-weight: bolder;
    font-size: 1.5rem;
}

#closeButton:hover {
    color: red;
}

#activeCheck {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: auto;
    font-size: 1.5rem;
}

.registerSection {
    display: inline-block;
    margin: 1.5vw;
}

.inputTitle {
    text-align: left;
    font-size: var(--register-font);
}

.registerSection>input {
    border-radius: 10px;
    width: 22vw;
    height: 8vh;
    font-size: var(--register-font);
    min-width: 230px;
    min-height: 60px;
}

.registerSection>textarea {
    border-radius: 10px;
    width: 25vw;
    height: 15vh;
    font-size: var(--register-font);
    min-width: 230px;
    min-height: 60px;
}

.errorMessage {
    color: red;
    font-size: var(--big-font);
    position: absolute;
}

#submitButton{
    margin-top: 40px; padding: 15px;
}