:root {
    --register-font: var(--big-font);
}

body.blur {
    filter: blur(2px);
    transition: 0.2s;
}

button {
    background-color: rgb(0, 181, 0);
}

.deleteButton {
    color: var(--font-color);
    min-width: 10px;
    font-size: var(--normal-font);
}

.deleteButton:hover {
    color: red;
}

.editButton {
    color: var(--font-color);
    min-width: 10px;
    font-size: var(--big-font);
}

.deleteButton,
.editButton {
    background-color: transparent;
    border-style: none;
    width: 1vw;
    height: 1vh;
    padding: 0px 0px 0px 0px;
    margin: 0px 10px;
}

th,
td {
    padding: 1.2vh;
}

#registerModal {
    width: 60vw;
    height: 80vh;
    border-style: none;
    border-radius: 8px;
    justify-content: left;
    text-align: left;
    min-width: 450px;
    min-height: 350px;
    overflow: hidden;
}

#registerForm {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    outline: none;
}

.onionLayer {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-color: var(--font-color);
    display: flex;
}

#modalTop {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#closeButton {
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: auto;
    font-weight: bolder;
    font-size: 1.5rem;
    cursor: pointer;
}

#closeButton:hover {
    color: red;
}

#activeCheck {
    align-self: center;
    margin-left: auto;
    margin-right: 5%;
    font-size: var(--register-font);
}

#status {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.registerSection {
    display: block;
    margin-bottom: 2vh;
}

.inputTitle {
    font-size: var(--register-font);
}

.registerSection>input {
    border-radius: 8px;
    width: 95%;
    height: 4vh;
    font-size: var(--register-font);
    min-width: 230px;
    min-height: 40px;
}

.registerSection>textarea {
    border-radius: 8px;
    width: 95%;
    height: 15vh;
    font-size: var(--register-font);
    min-width: 230px;
    min-height: 60px;
}

.errorMessage {
    color: red;
    font-size: var(--big-font);
}

#buttonContainer {
    text-align: center;
}

#submitButton {
    margin-top: 40px;
    padding: 15px;
}

#confirmDelete {
    height: max(25vh, 195px);
    width: max(35vw, 430px);

    border-style: none;
    border-radius: 8px;
}

#confirmWrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: var(--font-color);
    font-size: var(--normal-font);
}

#confirmTitle {
    align-self: flex-start;
    border-bottom: 1px solid var(--font-color);
    font-size: 1.5rem;
    width: 100%;
}

#confirmationButtons {
    display: flex;
    flex-wrap: nowrap;
    margin-top: auto;
    align-self: flex-end;
}

#confirmDeleteButton {
    background-color: rgb(255, 39, 39);
}

#cancelDeleteButton {
    background-color: rgba(0, 0, 0, 0.800);
}

#cancelDeleteButton,
#confirmDeleteButton {
    height: max(4vh, 22px);
    width: max(8vw, 150px);
}