:root {
    --normal-font: 1.10rem;
    --big-font: 1.25rem;
    --small-font: 1rem;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr 2fr 2fr;
}

body>* {
    margin: 10px;
}

header {
    width: 80vw;
    height: 10vh;
    align-items: center;
    border-radius: 10px;
    display: flex;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    min-width: 650px;
    min-height: 60px;
}

.login {
    margin-left: auto;
    display: flex;
    align-items: center;
}

#exit {
    font-size: var(--big-font);
    border-left-style: solid;
    padding: 1vw;
}

#exit:hover {
    border-bottom-style: none;
}

#userDisplay {
    font-size: var(--big-font);
    padding-right: 1vw;
}

#themeIcon {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    user-select: none;

}

#searchResults {
    margin-left: 2vw;
    font-size: var(--big-font);
    font-weight: bold;
}

#search {
    margin-left: 1vw;
    border-radius: 10px;
    width: 40vw;
    max-height: 55px;
    min-height: 45px;
    min-width: 300px;
    font-size: var(--big-font);
}

nav {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    border-radius: 10px;
    height: 100%;
    width: 15vw;
    font-size: var(--big-font);
    min-height: 700px;
    min-width: 150px;
}

#navIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 10px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    background-color: var(--highlight-color);
    font-size: 3rem;
    font-weight: bolder;
    justify-self: center;
}


.navLinks>a {
    display: block;
    margin-top: 1.5vh;
    margin-bottom: 1.5vw;
    padding-left: 1.5vw;
    padding: 1vw;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

a:hover {
    transition-duration: 100ms;
}

main {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    margin-top: 0;
}


#tableContainer {
    height: 80vh;
    min-height: 550px;
    border-radius: 10px;
    min-width: 600px;
    padding: 5px;
}

#tableTop {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    display: flex;
}

#tableTop>button {
    width: 12vw;
}

#tableWrapper {
    overflow-inline: scroll;
    overflow-x: hidden;
    height: 62vh;
    min-height: 400px;
}

table {
    width: 100%;
    font-size: var(--normal-font);
    overflow: hidden;
    border-collapse: collapse;
}

#tableHeader {
    cursor: default;
    user-select: none;
}

th,
td {
    padding: 1vh;
    text-align: center;
    border-bottom-style: solid;
}

tr:hover {
    transition-duration: 100ms;
}

.tablePaging {
    justify-items: center;
    align-items: center;
    justify-self: center;
}

.tablePaging>button {
    background-color: transparent;
    font-size: var(--big-font);
    max-width: 1px;
}

button {
    font-weight: bolder;
    font-size: var(--small-font);
    border-radius: 10px;
    border-style: none;
    width: 15vw;
    margin: 10px;
    margin-left: auto;
    min-width: 150px;
    cursor: pointer;
}