body {
    max-height: 95vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.5fr 2fr 2fr;
}

body>* {
    margin: 10px;
}

header {
    width: 80vw;
    height: 10vh;
    align-items: center;
    border-radius: 10px;
    display: flex;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    min-width: 600px;
    min-height: 60px;
}

nav {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    border-radius: 10px;
    height: 95vh;
    width: 15vw;
    font-size: 1.25rem;
    min-height: 700px;
    min-width: 150px;
}

main {
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

.login {
    margin-left: auto;
    display: flex;
    align-items: center;
}

#exit {
    font-size: 1.2rem;
    border-left-style: solid;
    padding: 1vw;
}

#exit:hover {
    border-bottom-style: none;
}

#userDisplay {
    font-size: 1.2rem;
    padding-right: 1vw;
}

#search {
    margin-left: 1vw;
    border-radius: 10px;
    width: 40vw;
    max-height: 55px;
    min-height: 45px;
    min-width: 300px;
}

.navLinks {
    margin-left: 1.5vw;
}


a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

p>a:hover {
    transition-duration: 100ms;
}


#themeIcon {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;

}

#tableContainer {
    height: fit-content;
    margin-top: 15px;
    border-radius: 10px;
    min-width: 600px;
}

#tableTop {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    display: flex;
}

#tableTop>button{
    font-size: 1rem;
    width: 12vw;
}

#tableWraper {
    overflow-inline: scroll;
    overflow-x: hidden;
    height: 80%;
}

table {
    width: 100%;
    font-size: 1rem;
    overflow: hidden;
    border-collapse: collapse;
}

#tableHeader {
    border-style: solid;
    cursor: default;
}

th,
td {
    padding: 10px;
    text-align: center;
    border-bottom-style: solid;
}

tr:hover {
    transition-duration: 100ms;
}


button {
    font-weight: bolder;
    font-size: 1.5rem;
    border-radius: 10px;
    border-style: none;
    width: 15vw;
    margin: 10px;
    margin-left: auto;
    min-width: 150px;
    cursor: pointer;
}

.tableButtons {
    justify-items: center;
    align-items: center;
    justify-self: center;
}

.tableButtons>button {
    background-color: transparent;
    max-width: 1px;
}


#searchResults {
    margin-left: 2vw;
    font-size: 1.2rem;
    font-weight: bold;
}