:root {
    --main-color: white;
    --second-color: rgb(225, 225, 225);
    --font-color: rgb(74, 74, 74);
    --highlight-color: lightgray;
    --border-color: rgb(203, 203, 203);
    --border-style: solid;
}

body {
    background-color: var(--second-color);
    color: var(--font-color);
}

header,
nav,
#tableContainer,
.statsContainer,
.loginBox {
    background-color: var(--main-color);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.400);
}

#exit {
    border-left-color: var(--border-color);
}

#exit:hover {
    color: firebrick;
    border-left-color: firebrick;
}

#search {
    background-color: var(--second-color);
    color: var(--font-color);
}

a {
    color: var(--font-color);
}

tr:hover {
    background-color: var(--second-color);
}

#tableHeader {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
}

.column:active {
    background-color: var(--main-color);
}

th,
td {
    border-bottom-color: var(--border-color);
}


button {
    color: white;
}

#registerModal {
    background-color: var(--main-color);
    color: var(--font-color);
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.400);
}

.registerSection>input,textarea {
    background-color: var(--second-color);
    color: var(--font-color);
}

.loginBox>* {
    border-color: black;
}

.loginBox>input {
    background-color: var(--second-color);
}

button {
    color: white;
    background-color: black;
}

.tablePaging>button {
    color: var(--font-color);
}

input {
    border-style: var(--border-style);
    color: var(--font-color);
}

textarea {
    border-style: var(--border-style);
}

#themeIcon:hover{
    background-color: var(--second-color);
    cursor: pointer;
}